fcn/multi_train
fcn/__pycache__
fcn/fcn_resnet50_coco.pth
fcn/wandb
fcn/pre_trained
fcn/checkpoint
fcn/results
fcn/scripts

unet/multi_train
unet/save_weights
unet/__pycache__
unet/src/__pycache__
unet/train_utils/__pycache__
unet/output-before
unet/wandb

*.swo
*.swp

**/__pycache__

